__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.ipynb_checkpoints
.python-version

.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# data directory
data

# credentials directory
credentials/
